.shapes {
    display: flex;
}
.trapezoid {
    height: 100px;
    width: 100px;
    border-right: transparent 25px solid;
    border-left: transparent 25px solid; 
    border-bottom: 50px solid green;
}

.heart {
    position: relative;
    width: 100px;
    height: 90px;
    margin-top: 10px;

    &::before, &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 52px;
        height: 80px;
        border-radius: 50px 50px 0 0;
        background: red;
    }

    &::before {
        left: 50px;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
    }
      
    &::after {
        left: 0;
        transform: rotate(45deg);
        transform-origin: 100% 100%;
    }
}

  

.star {
    margin: 50px 0;
    position: relative;
    display: block;
    color: yellow;
    width: 0px;
    height: 0px;
    border-right: 80px solid transparent;
    border-bottom: 50px solid yellow;
    border-left: 80px solid transparent;
    transform: rotate(35deg);

    &:before {
        border-right: 30px solid transparent;
        border-bottom: 80px solid yellow;
        border-left: 30px solid transparent;
        position: absolute;
        height: 0;
        width: 0;
        top: -45px;
        left: -70px;
        display: block;
        content: '';
        transform: rotate(-35deg);
    }

    &:after {
        position: absolute;
        display: block;
        color: yellow;
        top: 15px;
        left: -105px;
        width: 0px;
        height: 0px;
        border-right: 80px solid transparent;
        border-bottom: 50px solid yellow;
        border-left: 80px solid transparent;
        transform: rotate(-70deg);
        content: '';
    }
}

.egg {
    height: 100px;
    width: 80px;
    border: 2px solid black;
    border-radius: 50%;
}

.diamond {
    background-color: blue;
    height: 50px;
    width: 50px;
    transform: rotate(-45deg);
}